@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


/* NAV BAR */

.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav .logo {
    position: relative;
    color: #0169b2;
    font-size: 3em;
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 0.2s;
}

@keyframes slide_left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

nav ul {
    position: relative;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    color: #0169b2;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 10px;
    text-decoration: none;
    padding: 8px 18px;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes slide_top {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

nav ul li a.active,
nav ul li a:hover {
    background-color: #0169b2;
    color: white;
    border-radius: 30px;
}


/* ____________________________________ */


/* CONTENIDO */

.content {
    position: relative;
    display: flex;
}

.content_text {
    position: relative;
    max-width: 550px;
}

.content_text h2 {
    color: #0169b2;
    font-size: 3.5em;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-weight: 700;
    opacity: 0;
    animation: slide_right 0.5s linear forwards;
    animation-delay: 0.5s;
}

@keyframes slide_right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.content_text p {
    font-size: 1.2em;
    color: #333;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 0.8s;
}

.content_text a {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: #ff5e8e;
    color: white;
    font-size: 1.2em;
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 1s;
}

.img_hosp {
    position: absolute;
    /* bottom: 0; */
    right: 0;
    max-width: 1300px;
}